<h2>Vision and Design</h2>
<p>C2M2 will catalogue notated music and related documents; audio
  recordings will not be included initially but may be added in the future.</p>
<ul>
  <li>How the site will work</li>
  <li>What you will find here</li>
  <li>Screenshots</li>
</ul>
